@model IdealHires.DTO.Candidate.CandidatePreviewDTO
@{
    string positionName = string.Empty;
    var currentPositiondata = Model.CandidateWorkPreview.Where(mod => mod.EndAt == null).FirstOrDefault();
    if (currentPositiondata != null)
    {
        positionName = currentPositiondata.PositionName;
    }
    else
    {
        var positiondata = Model.CandidateWorkPreview.FirstOrDefault();
        if (positiondata != null)
        {
            positionName = positiondata.PositionName;
        }
    }
}
<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-sm-3"> <img src="../images/logo-pre.png"> </div>
        <div class="col-sm-5 pt-2">
            <p class="h4 blue-clr">@Model.CandidateBasicPreview.FirstName @Model.CandidateBasicPreview.LastName</p>
            <span class="ft-sml"> @positionName</span>
        </div>
        <div class="col-sm-4 pt-4">
            <div class="switch-btn-1">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle col-grey" for="exampleSwitch">
            </div>
        </div>
    </div>
    <div class="row mt-5 ft-14">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-1"><em class="fa fa-map-marker-alt col-blue pt-1 ft-20"></em></div>
                <div class="col-sm-11 pl-1">
                    <p>
                        @Model.CandidateContactPreview.StreetAddress1, @Model.CandidateContactPreview.StreetAddress2
                        @Model.CandidateContactPreview.City @Model.CandidateContactPreview.State @Model.CandidateContactPreview.Country
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p><em class="fa fa-mobile-alt col-blue pr-2 pt-1 ft-20"></em> @Model.CandidateContactPreview.Phone1</p>
        </div>
        <div class="col-sm-3">
            <p><em class="fa fa-envelope col-blue pr-2 pt-1 ft-20"></em>@User.Identity.Name</p>
        </div>
        <div class="col-sm-1 text-right"> <em class="fa fa-edit col-blue"></em> </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="h4 blue-clr mt-5 mb-3">Work Experience</p>
            <div id="previewWorkDetailsDiv">
                @{Html.RenderAction("PreviewWorkDetails");}
            </div>
            <div class="modal fade" id="PreviewWorkExpModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="PreviewModelContentWorkExp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="h4 blue-clr mt-5 pb-1">Job Preferences</p>
                </div>
                <div class="col-sm-6 text-right pt-5"> <a onclick="GetPreviewPreferenceOnModel()"><em class="fas fa-edit ml-3 col-blue"></em> </a> </div>
            </div>
            <div class="row">
                <div class="modal fade" id="PreviewJobPreferenceModal">
                    <div class="modal-dialog modal-lg">

                        <div class="modal-content">
                            <div style="padding:30px;">
                                <div id="PreviewModelContentJobPreference"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="PreviewPreferenceDetailsDiv">
                @{ Html.RenderAction("PreviewPreferenceDetails");}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="h4 blue-clr mt-5 mb-3">Education & Certification </p>
                    <div class="modal fade" id="PreviewAcademicsModel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" id="PreviewModelContentEducation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2 mb-5" id="PreviewEducationDetailsDiv">
                @{Html.RenderAction("PreviewEducationDetails"); }
            </div>
            <div class="row">
                <div class="f1-buttons col-sm-6 text-left pl-1">
                    <button class="btn btn-previous rounded-circle btn-circle-pre"><em class="fa fa-arrow-left"></em></button>
                </div>
                <div class="f1-buttons col-sm-6 pr-1">
                    <button type="button" class="btn btn-next">Find Jobs</button>
                </div>
            </div>
        </div>
    </div>
</div>