@model IdealHires.DTO.Candidate.CandidateWorkDTO
@{
    /**/

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnSuccess = "OnContactSuccess";
    options.InsertionMode = InsertionMode.ReplaceWith;
}

<script type="text/javascript">
    function OnContactSuccess(data) {
        if (data === "Success" || data === "Save") {
            var parent_fieldset = $(this).parents('fieldset');
            var current_active_step = $(this).parents('.f1').find('.f1-step.active');
            var progress_line = $(this).parents('.f1').find('.f1-progress-line');
            parent_fieldset.fadeOut(400, function () {
                
                current_active_step.removeClass('active').addClass('activated').next().addClass('active');
                
                bar_progress(progress_line, 'right');
              
                $(this).next().fadeIn();
             
                scroll_to_class($('.f1'), 20);
            });
        }
        else if (data === "Failure") {
            alert('Failure');
        }
    }
</script>
@using (Ajax.BeginForm("Work", "Candidate", null, options, new { @id = "formWork" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-validationdanger" })
    <div class="row">
        <div class="col-sm-12">
            <ul class="timeline">
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success text-success-green mr-4">May 2010 Sep 2013</span> <span> <span class="col-blue text-span">3 years 4 Months</span> <a href="#"> <em class="fas fa-edit ml-3"></em></a> <em class="fas fa-trash text-danger ml-1"></em> </span> </div>
                        <div class="pl-3">
                            <a href="#" class="float-right">21 March, 2014</a>
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success text-success-green mr-4">May 2010 Sep 2013</span> <span> <span class="col-blue text-span">3 years 4 Months</span> <a href="#"> <em class="fas fa-edit ml-3"></em></a> <em class="fas fa-trash text-danger ml-1"></em> </span> </div>
                        <div class="pl-3">
                            <a href="#" class="float-right">21 March, 2014</a>
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <p class="h4 col-blue text-left">Sr. Art Director <a href="#"><small class="ft-sml text-dark">PWC Inc</small></a></p>
                        </div>
                        <div class="col-sm-6 text-right ft-sml"> <span class="text-success text-success-green mr-4">May 2010 Sep 2013</span> <span> <span class="col-blue text-span">3 years 4 Months</span> <a href="#"> <em class="fas fa-edit ml-3"></em></a> <em class="fas fa-trash text-danger ml-1"></em> </span> </div>
                        <div class="pl-3">
                            <a href="#" class="float-right">21 March, 2014</a>
                            <p class="border-btm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="f1-buttons col-sm-6 text-left pl-2">
            <button class="btn btn-previous rounded-circle btn-circle-pre"><em class="fa fa-arrow-left"></em></button>
            <button class="btn btn-save btn-border ml-3" data-toggle="modal" data-target="#myModal"><img src="~/images/add-icon.png" class="pr-3 pb-1">Add</button>
        </div>
        <div class="f1-buttons col-sm-6 pr-1">
            <button type="button" class="btn btn-fill mr-3"><img src="~/images/save-icon.png" class="pr-2 pb-1">Save</button>
            <button class="btn btn-next rounded-circle btn-circle-next"><em class="fa fa-arrow-right"></em></button>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title col-blue"><em class="fas fa-suitcase col-blue"></em> Add Work Experience</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.PositionName, new { @class = "tab-cus-input", placeholder = "Position", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.PositionName, "", new { @class = "text-validationdanger" })

                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "tab-cus-input", placeholder = "Company", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-validationdanger" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                            @Html.EditorFor(model => model.StartAt, new { htmlAttributes = new { @class = "form-control", @type = "date", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.StartAt, "", new { @class = "text-validationdanger" })

                        </div>
                        <div class="col-sm-6">

                            @Html.EditorFor(model => model.EndAt, new { htmlAttributes = new { @class = "form-control", @type = "date", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.EndAt, "", new { @class = "text-validationdanger" })
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Salary, new { @class = "tab-cus-input date", placeholder = "Salary", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-validationdanger" })

                        </div>

                        <div class="col-sm-6">
                            <div class="switch-btn-1">
                                @Html.ValidationMessageFor(m => m.CurrencyId, "", new { @class = "text-validationdanger" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Description, new { @class = "tab-cus-input", placeholder = "Description", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-validationdanger" })
                            <div class="em-float-right modalpopup1"> <span class="ft-sml col-grey">Resume Tips</span><em class="far fa-question-circle ml-2"></em> </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-save" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="submit" value="Save" class="btn btn-next" data-dismiss="modal">Submit</button>
                </div>
            </div>

        </div>
    </div>
}

