@using IdealHires.Web.TokenProvider

<header class="navbar navbar-dark navbar-expand-md bg-light sticky-top">
    <div class="col-sm-2"><a href="/" class=""><img src="~/images/logo-ideal.jpg" alt="logo" class="logo"></a></div>
    <div class="col-sm-4">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <ul class="nav justify-content-center">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" href="#">Jobs <span><i class="fas fa-caret-down"></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right jobs-card">
                            <div class="notification-body">
                                
                                <a href="@Url.Action("Jobs","Candidate")" class="notification-list"><em class="fa fa-user pr-1"></em>Search Jobs</a>
                                <a href="#" class="notification-list">
                                    <p>Advanced Search</p>
                                </a>

                                <a href="@Url.Action("GetSavedJobs","Candidate")" class="notification-list"><em class="fa fa-user pr-1"></em>My Saved Jobs</a>
                                <a href="@Url.Action("GetAppliedJobs","Candidate")" class="notification-list"><em class="fa fa-user pr-1"></em> My Applied Jobs</a>
                                <a href="@Url.Action("GetNotInterestedJobs","Candidate")" class="notification-list"><em class="fa fa-user pr-1"></em> My Not Interested Jobs</a>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" href="#">Recruiters <span><i class="fas fa-caret-down"></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right jobs-card">
                            <div class="notification-body">
                                <a href="#" class="notification-list">
                                    <p>Browse all reqruiters</p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" href="#">Companies <span><i class="fas fa-caret-down"></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right jobs-card">
                            <div class="notification-body">
                                <a href="#" class="notification-list">
                                    <p>Browse all companies</p>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
        else
        {
            <a class="btn clr-blue" href="@Url.Action("Login","Account")"><em class="far fa-user pr-2"></em> Sign in</a>
        }
    </div>
    <div class="col-sm-4 justify-content-right">
        <div class="input-group border-0 top-search">
            <input type="text" class="form-control order-1 sec-left" placeholder="Search Jobs" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append order-3"> <a href="#"> <span class="input-group-text fa fa-search btn-fill-search"></span></a> </div>
            <div class="dropdown order-2 sec-left">
                <select class="form-control">
                    <option>Jobs</option>
                    <option>Company</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="header-right ">
            <ul class="nav justify-content-end">
                <li class="dropdown mt-1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="top-notification-icon mr-3"><i class="fa fa-envelope text-light-grey"></i></span>
                        <span class="badge-cus badge-notify">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right notification-card">
                        <div class="notification-body">
                            <a href="home-2.html" class="notification-list">
                                <p>Your Resume Updated!</p>
                                <span class="time">5 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>You changed password</p>
                                <span class="time">5 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                        </div>
                        <div class="notification-footer">
                            <a href="#">View all Messages</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown mt-1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="top-notification-icon mr-3"><i class="fa fa-bell text-light-grey"></i></span>
                        <span class="badge-cus badge-notify">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right notification-card">
                        <div class="notification-body">
                            <a href="home-2.html" class="notification-list">
                                <p>Your Resume Updated!</p>
                                <span class="time">5 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                              
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>You changed password</p>
                                <span class="time">5 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                            <a href="#" class="notification-list">
                                <p>Someone downloaded resume</p>
                                <span class="time">11 hours ago</span>
                            </a>
                        </div>
                        <div class="notification-footer">
                            <a href="#">View all notification</a>
                        </div>
                    </div>

                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="pr-2"><img class="rounded-circle" src="~/images/profile-icon.png"></span>
                        <em class="fa fa-angle-down col-grey"></em>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right sign-out">                       
                        <li>
                            <span class="col-grey">
                                @if (!string.IsNullOrEmpty(User.FullName()))
                                {
                                    @User.FullName()
                                }
                                else
                                {
                                    @User.Identity.Name
                                }
                            </span>
                        </li>
                        <li><a href="@Url.Action("Profile","Candidate")"><i class="icon-cog"></i><em class="fa fa-user pr-1"></em> Profile</a></li>
                        <li><a href="/user/preferences"> <em class="fa fa-cog pr-1"></em> Setting</a></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i> <em class="fa fa-power-off pr-1"></em> Logout</a>
                            
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>