@model IdealHires.DTO.ResetPasswordDTO
@{
    ViewBag.Title = "Reset password";   
}
<div class="bg-sec">
    <section>
        <div class="login-bg">
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-sm-9 align-self-center">
                        <div class="row">
                            <div class="col-md-6 wt-bg">
                                <div class="text-center">
                                    <div class="text-center pb-4 pt-4">
                                        <p class="h4 clr-h3">PROFESSIONAL STAFFING</p>
                                        <p class="h4 clr-h3">&</p>
                                        <p class="h4 clr-h3 pb-4">JOB SOLUTIONS</p>
                                        <p class="col-grey ft-14 lttr-spc2 pd-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                    </div>
                                    <div class="abs-btm">
                                        <p class="ft-13"><a href="#"><span class="text-dark">Not a member yet?</span> <span class="text-danger">Register now</span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bl-bg">
                                <div class="login-sec">
                                    <h3 class="col-blue text-center pt-4 pb-5">RESET PASSWORD</h3>
                                    @*<form id="form-sec">*@
                                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "form-sec" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Code)
                                    <div class="group">
                                        <em class="far fa-user"></em>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "log-user", required = "required" })
                                        @*<input class="log-user" type="password" required>*@
                                        @*<label>Old Password</label>*@
                                        @Html.LabelFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="group">
                                        <em class="fas fa-unlock-alt"></em>
                                        @*<input class="log-pass" type="password" required>
                                        <label>New Password</label>*@
                                        @Html.PasswordFor(m => m.Password, new { @class = "log-pass", required = "required" })
                                        @Html.LabelFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="group">
                                        <em class="fas fa-unlock-alt"></em>
                                        @*<input class="log-pass" type="password" required>*@
                                        @*<label>Confirm Password</label>*@
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "log-pass", required = "required" })
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                    @*</form>*@
                                    <p class="text-center"> <button class="btn btn-blue">Submit</button></p>
                            }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-sm-3 text-sm-right add-sm-none">
                        <a href="/" class=""><img src="~/images/advertisement.png" alt="logo" class="logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    

